body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.new-article {
    margin-top: 20px;
    font-size: 25px;
    font-weight: bolder;
    width: 80px;
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
}

.article-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.welcome-blog {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}